<%= @user.email %>

<h3>Events <%=@user.name%> is hosting</h3>
<ul>
  <% @user.events.each do |event| %>
    <li>
      <%= event.title %>
    </li>
  <% end %>
</ul>

<h3>Events <%=@user.name%> is attending</h3>
<ul>
  <% @user.attending_events.each do |attending_event| %>
    <li>
      <% Reservation.where(user: current_user, event: attending_event).each do |reservation| %>
      <%= reservation.event.title %>
      <%= link_to 'Delete', reservation_path(reservation), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
    <% end %>
  <% end %>
</ul>
