<div class="container">
  <h3>Events <%=@user.name%> is hosting</h3>
    <% @user.events.each do |event| %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
          <div class="showcard">
      <div class="cardcontent">
        <% if event.photo.present? %>
        <div class="showimg">
          <%= cl_image_tag(event.photo, height:300)%>
        </div>
        <% else %>
        <div class="showimg">
          <%= image_tag('placeholder.jpg', height:300)%>
        </div>
        <% end %>


      </div>
    </div>
    </div>
    <div class="col-xs-4">
      <p><div class="showcard">
      <div class="cardcontent">
        <h2> <%= event.title %> </h2>
        <div class ="graytext">
        <p>
          ______________________________
         </div>

        </p>

        <em><p> <%= event.location %> </p> </em>
         <p> <%= event.date %> </p>
        <p> <%= event.description %> </p>
        <div class ="graytext">
        <p>

          ______________________________

        </p>
        </div>

        <div class="event-joining">
              <%= link_to "Edit", edit_event_path(event), class: "btn btn-default" %>
              <%= link_to "Destroy", event_path(event), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
            </div>

    </div>
  </div>
    </div>
  </div>
    <% end %>

  <h3>Events <%=@user.name%> is attending</h3>
    <% @user.attending_events.each do |attending_event| %>
    <div class="container">
        <% Reservation.where(user: current_user, event: attending_event).each do |reservation| %>
        <div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
          <div class="showcard">
      <div class="cardcontent">
        <div class="showimg">
        <%= cl_image_tag(attending_event.photo, height:300)%>
        </div>


      </div>
    </div>
    </div>
    <div class="col-xs-4">
      <p><div class="showcard">
      <div class="cardcontent">
        <h2> <%= reservation.event.title %> </h2>
        <div class ="graytext">
        <p>
          ______________________________
         </div>

        </p>

        <em><p> <%= reservation.event.location %> </p> </em>
         <p> <%= reservation.event.date %> </p>
        <p> <%= reservation.event.description %> </p>
        <div class ="graytext">
        <p>

          ______________________________

        </p>
        </div>
        <%= link_to 'View details', attending_event, class: "btn btn-default" %>
        <%= link_to 'Delete', reservation_path(reservation), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <!-- INSERT BUTTTONS!!!! -->
    </div>
  </div>
    </div>
  </div>
      </div>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
