<div class="container">
  <div class="row">
    <div class="col-xs-8">
          <div class="showcard400px">
      <div class="cardcontent">
        <div class="showimg">
          <img class= "resizeimage" <%= cl_image_tag(@event&.photo)%>
        </div>

         <!-- <img src= <%= @event.photo %>alt="" class="showimg"> -->
      </div>
    </div>
    </div>
    <div class="col-xs-4">
      <p><div class="showcard400px">
      <div class="cardcontent">
        <h2> <%= @event.title %> </h2>
        <div class ="graytext">
        <p>
          ______________________________
         </div>

        </p>

        <p> <em> <%= @event.location %> </em></p>
         <p><%= @event.date.to_formatted_s(:long_ordinal)%></p>

        <p> <%= @event.description %> </p>
        <div class ="graytext">
        <p>

          ______________________________

        </p>
        </div>
          <% event_id_url = Event.find(params[:id]) %>
          <% if current_user.attending_events.include? event_id_url %>
         <div class="greentext">
           <p>You've joined this event!</p>
           <% elsif @event.reservations.count >= @event.capacity %>
              <p>This event is full</p>
           </div>
        <% else %>
       <%= link_to 'Join', event_reservations_path(@event), method: :post, class: "btn btn-primary" %>
      <% end %>

    </div>
  </div></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
   <div class="showcardmap">
      <div class="cardcontent">
        <div class="showimg">

                 <img src="http://home.bt.com/images/google-maps-for-hero-image-136422203736402601-171019162758.jpg" alt="" class="src">
          <div id='map'class= "resizeimagemap" style='width: 1050px; height: 300px;'></div>
            <script>


                mapboxgl.accessToken = 'pk.eyJ1Ijoic2Fsb2NoYXJhIiwiYSI6ImNqb3IxZDhobzBhMmwzcG0ybzczY3J6djQifQ.qn79eTRCsHNSOL5SJxrcIw';
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v9',
                    center: [gon.lng, gon.lat], // starting position [lng, lat]
                    zoom: 14 // starting zoom
                });
                console.log(gon.lng);
              </script>
        </div>

         <!-- <img src= <%= @event.photo %>alt="" class="showimg"> -->
      </div>
    </div>
  </div>
</div>
</div>






