<div class="container">
  <div class="row">
    <div class="col-xs-8">
          <div class="showcard">
      <div class="cardcontent">
        <div class="showimg">
          <%= cl_image_tag(@event&.photo)%>
        </div>

         <!-- <img src= <%= @event.photo %>alt="" class="showimg"> -->
      </div>
    </div>
    </div>
    <div class="col-xs-4">
      <p><div class="showcard">
      <div class="cardcontent">
        <h2> <%= @event.title %> </h2>
        <div class ="graytext">
        <p>
          ______________________________
         </div>

        </p>

        <em><p> <%= @event.location %> </p> </em>
         <p> <%= @event.date %> </p>
        <p> <%= @event.description %> </p>
        <div class ="graytext">
        <p>

          ______________________________

        </p>
        </div>
          <% event_id_url = Event.find(params[:id]) %>
          <% if current_user.attending_events.include? event_id_url %>
         <div class="greentext">
           <p>You've joined this event!</p>
           </div>
        <% else %>
       <%= link_to 'Join', event_reservations_path(@event), method: :post, class: "btn btn-primary" %>

    <% end %>

    </div>
  </div></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="showcard">
      <div class="cardcontent">
        <div class="showimg">
          <div id='map' style='width: 1050px; height: 300px;'></div>
            <script>


                mapboxgl.accessToken = 'pk.eyJ1Ijoic2Fsb2NoYXJhIiwiYSI6ImNqb3IxZDhobzBhMmwzcG0ybzczY3J6djQifQ.qn79eTRCsHNSOL5SJxrcIw';
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v9',
                    center: [gon.lng, gon.lat], // starting position [lng, lat]
                    zoom: 14 // starting zoom
                });
                console.log(gon.lng);
              </script>
        </div>

         <!-- <img src= <%= @event.photo %>alt="" class="showimg"> -->
      </div>
    </div>
  </div>
</div>
</div>






